@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #21212B;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 2rem;
    margin: auto;
}

@media (max-width : 800px) {
    .max-width {
        padding: 0 1rem;
    }
}

/* NAV bar styling */
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 29px 0;
    /* opacity: 0.5; */
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 200px; */
}
.navbar .logo a{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: cyan;
    transition: all 0.3s ease;
}
.navbar .menu li {
    list-style: none;
    /* font-weight: 400; */
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin-left: 65px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(28, 92, 99);
}

.menu-btn{
    color:  rgb(207, 207, 248);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

li {
    list-style-type: none;
}
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
  }
  
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #ffffff;
    transform: translateX(-50%);
  }
  
.home{
    display: flex;
    background-size: cover;
    height: 100vh;
    /* width: 100%; */
    color: whitesmoke;
    min-height: 500px;
}

.home .home-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* .home .home-content .right{
    width: 51%;
} */
.home .home-content .right img{
    height: 449.15px;
    width: 100%;
    object-fit: contain;
}

/* .home .home-content .left{
    width: 49%;
} */
.home .home-content .left .text-1{
    font-size: 34px;
    font-weight: 400;
    line-height: 50.15px;
    font-family: 'Mohave', sans-serif;
}
.home .home-content .left .text-1 span{
    font-weight: 600;
    font-family: 'Mohave', sans-serif;
}

.home .home-content .left .text-2{
    font-size: 45px;
    font-weight: 700;
    font-family: 'Mohave', sans-serif;
    line-height: 66.86px;
}
.home .home-content .left .text-2 span{
    background-image: linear-gradient(45deg,#794BDB, #42BCE2DB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home .home-content .left .text-3{
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    font-family: 'Inter',sans-serif;
}

@media (max-width : 992px) {
    .home .home-content {
        flex-direction: column;
        row-gap: 50px;
    }
    .home-content .text-1{
        font-size: 20px;
    }

    .home-content .text-2{
        font-size: 36px;
        line-height: 45px;
    }

    .home-content.text-3{
        font-size: 16px;
        margin-top: 0.5rem;
        line-height: 24px;
    }

}

.skills ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding-left: 130px;
    align-items: center;
}


.skills .skill-heading, .skills .skill-icon{
    display: inline-block;
    font-weight: 400;
    font-family: 'Mohave', sans-serif;
    font-size: 25px;
}

.skills li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills .skill-icon img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-image: linear-gradient(45deg,#794BDB, #42BCE2DB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width : 1192px) {
    .skills ul {
        padding-left: 90px;
    }
}
@media (max-width : 950px) {
    .skills ul {
        padding-left: 0px;
    }
}
@media (max-width : 768px) {
    .skills ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width : 440px) {
    .skills ul {
        display: flex;
        flex-direction: column;
        
    }

    .skills li {
        margin-top: 25px;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
