@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #21212B;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 2rem;
    margin: auto;
}

@media (max-width : 800px) {
    .max-width {
        padding: 0 1rem;
    }
}

img {
    width: 100%;
    height: 100%;
}

/* NAV bar styling */
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 29px 0;
    /* opacity: 0.5; */
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 200px; */
}
.navbar .logo a{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.navbar .menu li {
    list-style: none;
    /* font-weight: 400; */
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin-left: 65px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #0ef;
}

.menu-btn{
    color:  rgb(207, 207, 248);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 980px) {
    .menu-btn{
        display: block;
        color: aliceblue;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #21212B;
        text-align: center;
        padding-top: 70px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 15px 0;
        font-size: 25px;
    } 

}

li {
    list-style-type: none;
}
section{
    padding-bottom: 100px;
}
section .title{
    position: relative;
    text-align: left;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Mohave', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
  }
  
  section .title::before{
    content: "";
    position: absolute;
    top: 39%;
    width: 240px;
    height: 0.5px;
    background: #676767;
    transform: translateX(-90%);
}

.button{
    display: inline-block;
    background: linear-gradient(45deg,#794BDB, #42BCE2B2);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    padding: 10px 30px;
    border-radius: 174px;
    color: #FFFFFF;
}

.clickable{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-top: 10px;
}

@media (max-width : 768px) {
    section .title::before{
        width: 160px;
    }
  }
  
.home{
    display: flex;
    background-size: cover;
    /* width: 100%; */
    color: whitesmoke;
    position: relative;
}

.home .home-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .bottom-navigation {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 80px;
}
.home .bottom-navigation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* .home .home-content .right{
    width: 51%;
} */
.home .home-content .right img{
    height: 449.15px;
    width: 100%;
    object-fit: contain;
}

/* .home .home-content .left{
    width: 49%;
} */
.home .home-content .left .text-1{
    font-size: 34px;
    font-weight: 400;
    line-height: 50.15px;
    font-family: 'Mohave', sans-serif;
}
.home .home-content .left .text-1 span{
    font-weight: 600;
    font-family: 'Mohave', sans-serif;
}

.home .home-content .left .text-2{
    font-size: 45px;
    font-weight: 700;
    font-family: 'Mohave', sans-serif;
    line-height: 66.86px;
}
.home .home-content .left .text-2 span{
    background-image: linear-gradient(45deg,#794BDB, #42BCE2DB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home .home-content .left .text-3{
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    font-family: 'Inter',sans-serif;
}

@media (max-width : 992px) {

    .home {
        padding-top: 100px;
    }
    .home .bottom-navigation {
        display: none;
        
    }
    .home .home-content {
        flex-direction: column;
        row-gap: 50px;
    }
    .home-content .text-1{
        font-size: 20px;
    }

    .home-content .text-2{
        font-size: 36px;
        line-height: 45px;
    }

    .home-content.text-3{
        font-size: 16px;
        margin-top: 0.5rem;
        line-height: 24px;
    }

}

.skills .title::before {
    left: 345px;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}


.skills .skill-heading, .skills .skill-icon{
    display: inline-block;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Mohave', sans-serif;
    font-size: 25px;
}

.skills li {
    display: flex;
    width: 230px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills .skill-icon img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* background-image: linear-gradient(45deg,#794BDB, #42BCE2DB);
    -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

@media (max-width : 1192px) {
    .skills ul {
        padding-left: 90px;
    }
}
@media (max-width : 950px) {
    .skills ul {
        padding-left: 0px;
    }
}
@media (max-width : 768px) {
    .skills ul {
        row-gap: 40px;

    }
    .skills .title::before {
        left: 270px;
    }
    .skills .skill-heading, .skills .skill-icon{
        font-size: 20px;
    }
    .skills li{
        width: 46%;

    }
}

.project .title::before{
    left: 390px;
}

.project .project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
    gap: 80px;

}

.project .project-content .left{
    width: 50%;
}


.project .project-content .right, .project .project-content .left {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: top;
    width: 50%;
}

.project .project-content .right img {
    float: right;
}

.project .project-content h2{
    color: #CD7AFF;
    font-weight: 600;
    font-family: 'Mohave', sans-serif;
    font-size: 37px;
    margin-bottom: 14px;
}

.project .project-content p {
    color: #DDDDDD;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 36px;
    line-height: 30px;
}

.project .project-content .project-links {
    display: flex;
    /* align-items: center; */
    margin-top: 20px;
}

.project .project-all{
    margin-left: 40%;
}
.project-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262631;
    height: 500px;
    padding: 40px;
}
.project-img-wrapper img {
    width: auto;
    height: 100%;
    object-fit: contain;
}


@media (max-width : 768px) {

    .project-content {
        flex-direction: column;
    }

    .project-content .column.left, 
    .project-content .column.right {
        width: 100%;
    }

    .project .project-content p {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 20px;
    }
    .project .project-content .project-links {
        margin-top: 14px;
    }
    .project .title::before{
        left: 310px;
    }

    .project .project-all {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

/* CONTACT */
.contact .title::before{
    left: 360px;
}

.contact h2 {
    text-align: left;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Mohave', sans-serif;
    padding-bottom: 20px
}

.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.contact-header .socials {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-header .socials img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.contact input, .contact textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid #AFAFAF;
    padding-left: 5px;
    margin-bottom: 20px;
    padding-bottom: 16px;
    width: 100%;
    font-size: 15px;
    margin-top: 16px;
    color: whitesmoke;
}

.contact textarea {
    border: 1px solid #AFAFAF;
    margin-top: 24px;
    padding-top: 10px;
}

.contact label {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.contact .contact-content {
    display: flex;
}

.contact .input-wrapper {
    margin-bottom: 24px;
}

.contact .contact-content .right {
    margin-left: 300px;
}



.form-container {
    width: 100%;
    max-width: 650px;
    /* background-color: #f9f9f9; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); */
}



.form-container textarea {
    height: 150px;
    resize: vertical;
}

.contact-content .form-container .button {
    border: none;
}

@media (max-width : 768px) {
    .contact-header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 60px;
    }

    .contact-header .socials {
        gap: 20px;
    }

    
}



footer{
    font-family: 'Poppins', sans-serif;
    background: #262631;
    padding: 15px 23px;
    color: #FFFFFF;
    text-align: center;
}

.title_page {
    font-size: 60px;
    color: #FFFFFF;
    height: 200px;
    background-color: #262631;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Page */

.about .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
    gap: 80px;

}

.about .about-content .left{
    width: 50%;
}


.about .about-content .right, .project .project-content .left {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: top;
    width: 50%;
}

.about .about-content .left img {
    width: 500px;
    height: 500px;
}

.about .about-content .right h2 {
    color: #CD7AFF;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 37px;
    margin-bottom: 14px;
}